<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10">
        <a href="/" class="text-blue-500 inline-block mb-10">Go Back to Home</a>
        <form action="/edit" method="post" class="flex flex-col gap-[10px] text-white">
            <!-- Hidden input for the previous filename -->
            <input type="hidden" name="previous" value="<%= filename %>">
            
            <!-- Displaying the current file name (not editable) -->
            <input type="text" placeholder="Previous Name" name="previous_display" 
                   class="block w-1/4 px-5 py-2 bg-zinc-800 text-zinc-700 rounded-md" 
                   value="<%= filename %>"  >
            
            <!-- Input for the new name -->
            <input type="text" placeholder="New Name" name="new" class="block w-1/4 px-5 py-2 bg-zinc-800 rounded-md" required>
            
            <!-- Submit button -->
            <input type="submit" value="Update Name" class="mt-2 bg-yellow-600 px-5 py-2 rounded-md w-[12%]">
        </form>
    </div>
</body>

</html>
